<div class="site-content">
  <div class="panel panel-default m-b-0">
        <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6">
          <h1 class="m-t-0 m-b-5">Artículos</h1>
        </div>
        <div class="col-xs-6" style="display: flex; justify-content: end;">
          <button type="button" class="btn btn-primary btn-pill m-w-120" data-toggle="modal" data-target="#otherModal1">Añadir Artículo</button>        
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="article_gerative">

      </div>
    </div>
  </div>
</div>

{% include 'dashboard/models/modales_article/modal_article.html' %}
{% include 'dashboard/models/modales_article/modal_edit.html' %}
{% include 'dashboard/models/modales_article/modal_delete.html' %}