<div class="site-content">
  <div class="panel panel-default panel-table m-b-0">
    <div class="panel-heading">
      <h1 class="m-t-0 m-b-5">Bienvenido al Panel de Control</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Slider</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-slider">
                <i class="zmdi zmdi-collection-video zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Artículos</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-articulos">
                <i class="zmdi zmdi-collection-text zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Imágenes</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-imagenes">
                <i class="zmdi zmdi-collection-folder-image zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Videos</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-videos">
                <i class="zmdi zmdi-collection-video zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Suscriptores</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-suscriptores">
                <i class="zmdi zmdi-accounts zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-table m-b-0">
    <div class="panel-heading">
      <h1 class="m-t-0 m-b-5">Proximamente</h1>
    </div>
  </div>
</div>