<div class="site-content">
  <div class="panel panel-default m-b-0">
    <div class="panel-heading">
      <h3 class="m-y-0">Cargar Imagen</h3>
    </div>
    <div class="panel-body">
      <!-- Formulario Dropzone -->
      <form action="http://big-bang-studio.com/file-upload" class="dropzone" id="myDropzone">
        <input type="hidden" id="dropzoneCondition" value="upload"> <!-- Campo oculto para condicionar -->
        <div class="dz-message" data-dz-message>
          <div class="dz-icon">
            <i class="zmdi zmdi-upload"></i>
          </div>
          <h2>Suelte los archivos aquí o haga clic para cargarlos</h2>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="m-y-0">Sliders</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="demo-grid-block">.col-md-4</div>
        </div>
        <div class="col-md-4">
          <div class="demo-grid-block">.col-md-4</div>
        </div>
        <div class="col-md-4">
          <div class="demo-grid-block">.col-md-4</div>
        </div>
      </div>
    </div>
  </div>
</div>