<div class="site-content">
  <div class="panel panel-default panel-table m-b-0">
    <div class="panel-heading">
      <h1 class="m-t-0 m-b-5">Bienvenido al Panel de Control</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Slider</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-slider">
                <i class="zmdi zmdi-collection-video zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Artículos</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-articulos">
                <i class="zmdi zmdi-collection-text zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Imágenes</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-imagenes">
                <i class="zmdi zmdi-collection-folder-image zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Videos</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-videos">
                <i class="zmdi zmdi-collection-video zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6">
          <div class="widget widget-tile-1 m-b-30" style="text-align: center; margin: 0 auto;">
            <div class="p-t-20 p-x-20">
              <div class="wt-title">
                <h3 class="m-t-0 m-b-5">Suscriptores</h3>
              </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; height: 170px;">
              <button class="custom-button btn-suscriptores">
                <i class="zmdi zmdi-accounts zmdi-hc-fw" style="font-size: 128px;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-table m-b-0">
    <div class="panel-heading">
      <h1 class="m-t-0 m-b-5">Proximamente</h1>
    </div>
  </div>
</div>



<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
  <div class="owl-carousel header-carousel position-relative owl-loaded owl-drag">
      
      
  <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-4044px, 0px, 0px); transition: all; width: 8088px;"><div class="owl-item cloned" style="width: 1348px;"><div class="owl-carousel-item position-relative">
          <img class="img-fluid" src="img/carousel-1.jpg" alt="">
          <div class="owl-carousel-inner">
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-lg-8">
                          <p class="text-primary text-uppercase fw-bold mb-2">// The Best Bakery</p>
                          <h1 class="display-1 text-light mb-4  slideInDown">We Bake With Passion</h1>
                          <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                          <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div></div><div class="owl-item cloned" style="width: 1348px;"><div class="owl-carousel-item position-relative">
          <img class="img-fluid" src="img/carousel-2.jpg" alt="">
          <div class="owl-carousel-inner">
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-lg-8">
                          <p class="text-primary text-uppercase fw-bold mb-2">// The Best Bakery</p>
                          <h1 class="display-1 text-light mb-4  slideInDown">We Bake With Passion</h1>
                          <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                          <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div></div><div class="owl-item" style="width: 1348px;"><div class="owl-carousel-item position-relative">
          <img class="img-fluid" src="img/carousel-1.jpg" alt="">
          <div class="owl-carousel-inner">
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-lg-8">
                          <p class="text-primary text-uppercase fw-bold mb-2">// The Best Bakery</p>
                          <h1 class="display-1 text-light mb-4  slideInDown">We Bake With Passion</h1>
                          <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                          <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div></div><div class="owl-item active" style="width: 1348px;"><div class="owl-carousel-item position-relative">
          <img class="img-fluid" src="img/carousel-2.jpg" alt="">
          <div class="owl-carousel-inner">
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-lg-8">
                          <p class="text-primary text-uppercase fw-bold mb-2">// The Best Bakery</p>
                          <h1 class="display-1 text-light mb-4  slideInDown">We Bake With Passion</h1>
                          <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                          <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div></div><div class="owl-item cloned" style="width: 1348px;"><div class="owl-carousel-item position-relative">
          <img class="img-fluid" src="img/carousel-1.jpg" alt="">
          <div class="owl-carousel-inner">
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-lg-8">
                          <p class="text-primary text-uppercase fw-bold mb-2">// The Best Bakery</p>
                          <h1 class="display-1 text-light mb-4  slideInDown">We Bake With Passion</h1>
                          <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                          <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div></div><div class="owl-item cloned" style="width: 1348px;"><div class="owl-carousel-item position-relative">
          <img class="img-fluid" src="img/carousel-2.jpg" alt="">
          <div class="owl-carousel-inner">
              <div class="container">
                  <div class="row justify-content-start">
                      <div class="col-lg-8">
                          <p class="text-primary text-uppercase fw-bold mb-2">// The Best Bakery</p>
                          <h1 class="display-1 text-light mb-4  slideInDown">We Bake With Passion</h1>
                          <p class="text-light fs-5 mb-4 pb-3">Vero elitr justo clita lorem. Ipsum dolor sed stet sit diam rebum ipsum.</p>
                          <a href="" class="btn btn-primary rounded-pill py-3 px-5">Read More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="bi bi-chevron-left"></i></div><div class="owl-next"><i class="bi bi-chevron-right"></i></div></div><div class="owl-dots disabled"></div></div>
</div>