<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="static/img/about-1.jpg" alt="Panadería">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="static/img/about-2.jpg" alt="Productos de la panadería">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <p class="text-primary text-uppercase mb-2">// Sobre Nosotros</p>
                    <h1 class="display-6 mb-4">Horneamos Cada Pan Con Pasión y Dedicación</h1>
                    <p>En *Panadería El Sabor del Horno*, llevamos más de 20 años dedicados a la elaboración artesanal de panes y pasteles. Usamos recetas tradicionales y los mejores ingredientes para asegurar que cada pieza horneada tenga el sabor y la calidad que nuestros clientes merecen.</p>
                    <p>Desde nuestras baguettes crujientes hasta los pasteles recién horneados, cada uno de nuestros productos se hace con amor y cuidado para satisfacer a toda la familia. Visítanos y descubre por qué somos la panadería favorita de la comunidad.</p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Ingredientes 100% Naturales
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Recetas Tradicionales
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Pedidos en Línea Disponibles
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Entrega Rápida y Segura
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">Conoce Más</a>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- About End -->