<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative" id="carouselContainer">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="static/img/slider/carousel-1.jpg" alt="Panadería">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// La Mejor Panadería</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">¡Horneamos Con Pasión!</h1>
                            <p class="text-light fs-5 mb-4 pb-3">Nuestros panes frescos están hechos con los mejores ingredientes. Disfruta de una experiencia única con cada bocado.</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">Descubre Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="static/img/slider/carousel-2.jpg" alt="Panadería">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-8">
                            <p class="text-primary text-uppercase fw-bold mb-2">// Panadería Artesanal</p>
                            <h1 class="display-1 text-light mb-4 animated slideInDown">Siente El Sabor Del Hogar</h1>
                            <p class="text-light fs-5 mb-4 pb-3">Cada uno de nuestros productos está hecho con amor, ¡porque cada bocado debe ser especial!</p>
                            <a href="" class="btn btn-primary rounded-pill py-3 px-5">¡Haz Tu Pedido Ahora!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
