<!-- Service Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="text-primary text-uppercase mb-2">// Nuestros Servicios</p>
                <h1 class="display-6 mb-4">¿Qué Ofrecemos Para Ti?</h1>
                <p class="mb-5">En nuestra panadería, nos dedicamos a hacer los productos más frescos y sabrosos de la ciudad. Usamos ingredientes de la más alta calidad, creando deliciosos panes, pasteles y bocados que llenan tu día de sabor. Cada uno de nuestros productos está hecho con amor y pasión, asegurando la mejor experiencia para ti.</p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-bread-slice text-white"></i>
                            </div>
                            <h5 class="mb-0">Productos de Calidad</h5>
                        </div>
                        <span>Nos aseguramos de que cada pan, pastelería o bocado sea elaborado con los mejores ingredientes, siempre frescos y de la mejor calidad.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-birthday-cake text-white"></i>
                            </div>
                            <h5 class="mb-0">Productos Personalizados</h5>
                        </div>
                        <span>Ya sea para un cumpleaños, aniversario o cualquier ocasión especial, podemos crear productos personalizados según tus deseos. ¡Haz tu celebración aún más especial con nuestros postres personalizados!</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-cart-plus text-white"></i>
                            </div>
                            <h5 class="mb-0">Pedido en Línea</h5>
                        </div>
                        <span>Realiza tus pedidos desde la comodidad de tu hogar a través de nuestra página web. Elige lo que más te guste y nosotros lo preparamos para ti.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                <i class="fa fa-truck text-white"></i>
                            </div>
                            <h5 class="mb-0">Entrega a Domicilio</h5>
                        </div>
                        <span>Ofrecemos entrega a domicilio para que puedas disfrutar de nuestros deliciosos productos sin tener que salir de casa. ¡Te llevamos la frescura hasta tu puerta!</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="static/img/service-1.jpg" alt="Imagen de panadería">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="static/img/service-2.jpg" alt="Imagen de productos personalizados">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!-- Service End -->